<!DOCTYPE html>
<html lang="en" class="__className_333388">

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>

    <head>
        <meta charset="ISO-8859-1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet" />
        <!-- icon -->
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-straight/css/uicons-regular-straight.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-rounded/css/uicons-bold-rounded.css'>
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
        <!-- swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/_next/static/css/style.css" />
        <title>Tin tức & Sự kiện</title>
        <!-- <meta name="description"
          content="Itco Nextjs 14 Template for agencies, businesses, consulting firms, creative ventures, cybersecurity providers, data management specialists, digital agencies, IT services, IT solutions providers, SaaS companies, software developers, startups, and technology service providers." /> -->
        <link rel="shortcut icon" href="/_assets/images/product/logoTDC.png" type="image/x-icon">
        <meta name="next-size-adjust" />
        <!-- animation -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    </head>
</head>

<body>
    <button class="scroll-top scroll-to-target "><i class="fa-solid fa-angles-up"></i></button>
    <div class="fix wrapper-news-page page">
        <div id="preloader" style="display:block">
            <div id="loader"></div>
        </div>
        <%- include('./particals/header.ejs') %>
            <section id="site-breadcumb">
                <div class="site-breadcumb-wrapper bg-breadcumb">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="breadcumb-content">
                                    <h1 class="breadcumb-title">Tin tức</h1>
                                    <ul class="page-navigator">
                                        <li><a href="/">Trang chủ</a></li>
                                        <li><a href="/blog">Tin tức</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-page-sec sec-ptb">
                <div class="container">
                    <div class="row mb-5">
                        <h3 class="title-hot-blog mb-4">Tin tức nổi bật</h3>
                        <div class="col-xl-7">
                            <div class="blog-item-wrapper">
                                <!-- map -->
                                <a href="/" class="blog-left-box blog-item">
                                    <div class="img-box">
                                        <img alt="blog" decoding="async" data-nimg="1" class="h-100"
                                            src="https://taixecongnghe.com/static/images/interface/image-1712136299319.jpg  ">
                                    </div>
                                    <div class="content-box">
                                        <div class="meta-box">
                                            <ul class="meta-info d-flex">
                                                <li>
                                                    <i class="flaticon-calendar"></i>
                                                    <span>October 2, 2023</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="title-box blog-title">
                                            <h3>Everything you need to learn about IT Solution
                                                for your Company.</h3>
                                        </div>
                                        <div class="blog-body">
                                            <p class="mt-2">Làm thế nào bạn có thể theo dõi thông tin chi tiết về
                                                tài
                                                xế, đội xe mọi lúc mọi nơi? Làm thế nào để biết vị trí và lịch trình
                                                xe
                                                đang di chuyển? TDC sẽ giúp bạn có cách quản trị và điều hành đội xe
                                                hiệu quả với thiết bị giám sát hành trình 5G GPS.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5">
                            <div class="sidebar ms-xl-5">
                                <div class="sidebar-item">
                                    <div class="blog-recent-post footer-recent-post">
                                        <a href="/" class="blog-sidebar-box-item blog-item d-flex">
                                            <div class="img-box"><img alt="blog" width="120" height="120"
                                                    decoding="async" data-nimg="1"
                                                    src="https://taixecongnghe.com/static/images/interface/image-1712135949782.jpg"
                                                    style="color: transparent;"></div>
                                            <div class="content-box">
                                                <div class="meta-box">
                                                    <ul class="meta-info">
                                                        <li>
                                                            <i class="flaticon-calendar"></i>
                                                            <span>Oct 2,2023</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="title-box">
                                                    <h3>IT Solution for your
                                                        Company.</h3>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/" class="blog-sidebar-box-item blog-item d-flex">
                                            <div class="img-box"><img alt="blog" width="120" height="120"
                                                    decoding="async" data-nimg="1"
                                                    src="https://taixecongnghe.com/static/images/interface/image-1712135949782.jpg"
                                                    style="color: transparent;"></div>
                                            <div class="content-box">
                                                <div class="meta-box">
                                                    <ul class="meta-info">
                                                        <li>
                                                            <i class="flaticon-calendar"></i>
                                                            <span>Oct 2,2023</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="title-box">
                                                    <h3>IT Solution for your
                                                        Company.</h3>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/" class="blog-sidebar-box-item blog-item d-flex">
                                            <div class="img-box"><img alt="blog" width="120" height="120"
                                                    decoding="async" data-nimg="1"
                                                    src="https://taixecongnghe.com/static/images/interface/image-1712135949782.jpg"
                                                    style="color: transparent;"></div>
                                            <div class="content-box">
                                                <div class="meta-box">
                                                    <ul class="meta-info">
                                                        <li>
                                                            <i class="flaticon-calendar"></i>
                                                            <span>Oct 2,2023</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="title-box">
                                                    <h3>IT Solution for your
                                                        Company.</h3>
                                                </div>
                                            </div>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-blog">
                        <h3 class="mb-3">Tin tức</h3>
                        <a href="/" class="new-blog-content">
                            <div class="row">
                                <div class="img-box col-xl-3 col-12">
                                    <div class="image-box">
                                        <img alt="blog" decoding="async" data-nimg="1" class="h-100"
                                            src="https://taixecongnghe.com/static/images/interface/image-1712135949782.jpg">
                                    </div>
                                </div>
                                <div class="content-box col-xl-9 col-12">
                                    <div class="title-box">
                                        <h4>Tăng cường công tác quản lý và
                                            xử lý hoạt động vận tải qua thiết bị giám sát hành trình
                                            và camera.</h4>
                                    </div>
                                    <div class="meta-box">
                                        <div class="meta-info d-flex">
                                            <i class="flaticon-calendar"></i>
                                            <span> Oct 2, 2023 </span>
                                        </div>
                                    </div>
                                    <div class="sub-content-box">
                                        <p>Nhằm nâng cao về chất lượng quản lý hoạt động của vận tải, nhiều tỉnh
                                            thành trên cả nước đang kiểm soát phương tiện thông qua thiết bị giám
                                            sát hành trình và camera lắp trên phương tiện, phát hiện những trường
                                            hợp vi phạm quy định trật tự giao thông.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/" class="new-blog-content">
                            <div class="row">
                                <div class="img-box col-xl-3 col-12">
                                    <div class="image-box">
                                        <img alt="blog" decoding="async" data-nimg="1" class="h-100"
                                            src="https://taixecongnghe.com/static/images/interface/image-1712135949782.jpg">
                                    </div>
                                </div>
                                <div class="content-box col-xl-9 col-12">
                                    <div class="title-box">
                                        <h4>Tăng cường công tác quản lý và
                                            xử lý hoạt động vận tải qua thiết bị giám sát hành trình
                                            và camera.</h4>
                                    </div>
                                    <div class="meta-box">
                                        <div class="meta-info d-flex">
                                            <i class="flaticon-calendar"></i>
                                            <span> Oct 2, 2023 </span>
                                        </div>
                                    </div>
                                    <div class="sub-content-box">
                                        <p>Nhằm nâng cao về chất lượng quản lý hoạt động của vận tải, nhiều tỉnh
                                            thành trên cả nước đang kiểm soát phương tiện thông qua thiết bị giám
                                            sát hành trình và camera lắp trên phương tiện, phát hiện những trường
                                            hợp vi phạm quy định trật tự giao thông.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="paging">
                        <div class="blog-pagination">
                            <ul>
                                <li class="pagination-item"><a class="active" href="/">1</a></li>
                                <li class="pagination-item"><a href="/">2</a></li>
                                <li class="pagination-item"><a href="/">3</a></li>
                                <li class="pagination-item"><a href="/"><i class="fa-solid fa-angles-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('./particals/footer.ejs') %>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/_next/static/js/header.js"></script>
    <script src="/_next/static/js/global.js"></script>

</body>

</html>