<!DOCTYPE html>
<html lang="en" class="__className_333388">

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>

    <head>
        <meta charset="ISO-8859-1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet" />
        <!-- icon -->
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-straight/css/uicons-regular-straight.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-rounded/css/uicons-bold-rounded.css'>
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
        <!-- swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/_next/static/css/style.css" />
        <title>Liên hệ</title>
        <!-- <meta name="description"
          content="Itco Nextjs 14 Template for agencies, businesses, consulting firms, creative ventures, cybersecurity providers, data management specialists, digital agencies, IT services, IT solutions providers, SaaS companies, software developers, startups, and technology service providers." /> -->
        <link rel="shortcut icon" href="/_assets/images/product/logoTDC.png" type="image/x-icon">
        <meta name="next-size-adjust" />


        <!-- animation -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    </head>
</head>

<body><button class="scroll-top scroll-to-target "><i class="fa-solid fa-angles-up"></i></button>
    <div class="fix page    ">
        <div id="preloader" style="display:block">
            <div id="loader"></div>
        </div>
        <%- include('./particals/header.ejs') %>
            <section id="site-breadcumb"
                style="background-image: url(&quot;assets/images/breadcumb/breadcumb-bd.svg&quot;);">
                <div class="site-breadcumb-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="breadcumb-content">
                                    <h1 class="breadcumb-title">Chi tiết bài viết</h1>
                                    <ul class="page-navigator">
                                        <li><a href="/">Trang chủ</a></li>
                                        <li><a href="/blog">Chi tiết bài viết</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-page-sec blog-detail-page sec-ptb">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="blog-item-wrapper">
                                <div class="blog-left-box blog-item blog-item-details">
                                    <div class="img-box"><img alt="blog" loading="lazy" width="856" height="516"
                                            decoding="async" data-nimg="1" class="h-100"
                                            srcset="/_next/image?url=%2Fassets%2Fimages%2Fblog%2Fblogg1.png&amp;w=1080&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fblog%2Fblogg1.png&amp;w=1920&amp;q=75 2x"
                                            src="/_next/image?url=%2Fassets%2Fimages%2Fblog%2Fblogg1.png&amp;w=1920&amp;q=75"
                                            style="color: transparent;"></div>
                                    <div class="content-box">
                                        <div class="meta-box">
                                            <ul class="meta-info d-flex">
                                                <li>
                                                    <div class="icon"><i class="flaticon-user"></i></div><span><a
                                                            href="#">Admin</a></span>
                                                </li>
                                                <li>
                                                    <div class="icon"><i class="flaticon-calendar"></i></div><span><a
                                                            href="#">October 2, 2023</a></span>
                                                </li>
                                                <li>
                                                    <div class="icon"><i class="flaticon-chat"></i></div><span><a
                                                            href="#">Comment (03)</a></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="title-box blog-title wow fadeInUp" data-wow-delay="0.5s"
                                            data-wow-duration="1500ms"
                                            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0.5s;">
                                            <h3><a href="#">Everything you need to learn about IT Solution for your
                                                    Company.</a></h3>
                                        </div>
                                        <div class="blog-body">
                                            <p class="mb-4">With over a decade of experience, we’ve established
                                                ourselves as one of the pioneering agencies in the . Our small,
                                                flexible, agile and design-led structures and processes allow us to be
                                                highly responsive and innovative. We’re made of passionate leaders,
                                                strategists, managers, developers, animators designer who work gether
                                                under one umbrella. We are a digitally-led, full-service creative
                                                agency.</p>
                                            <p>The European languag are member of the same family. Their separate
                                                existence is a myth. Europe same science, music, sport, etc, Europe uses
                                                the same vocabulary. The languages only differ in their grammar, their
                                                samepronunciation and their most common words.</p>
                                            <blockquote class="wow fadeInUp" data-wow-delay="0ms"
                                                data-wow-duration="1500ms"
                                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
                                                <i class="flaticon-ux"></i>
                                                <p>Majority have suffered alteration in some form, by injected humour,
                                                    or randomised words which don’t look even slightly believable ”</p>
                                            </blockquote>
                                            <p class="mb-4">Everyone realizes why a new common language would be
                                                desirable: one could refuse to necessary have uniform translators. To
                                                achieve this, it would be necessary to have uniform grammar,
                                                pronunciation and more words. If several languages coalesce, the grammar
                                                of the resulting language is simple and regular than that of the
                                                individual languages. The new common language will be more simple and
                                                regular than the existin languages samepronunciation and their most
                                                common words.</p>
                                            <h4>Perfect From Beginning to End</h4>
                                            <p class="mb-4">Transfer details Choose the amount you want to send abroad,
                                                select how your receiver wants to get the money, and lastly, how you
                                                want to pay. You will always see our fees upfront, the final amount you
                                                will pay, and the exact amount your receiver will get.</p>
                                            <ul class="info-list">
                                                <li>Aliquam Eros Justo, Posuere Loborti Robart That</li>
                                                <li>Fermentum Ullamcorper Viverra Laoreet</li>
                                                <li>Lobortis, Viverra Laoreet Augue Attis Hrculies</li>
                                                <li>Fermentum Ullamcorper Viverra Laoreet</li>
                                            </ul>
                                        </div>
                                        <div class="blog-tags-share wow fadeInUp" data-wow-delay="0ms"
                                            data-wow-duration="1500ms"
                                            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
                                            <div class="blog-tags">
                                                <div class="tag-title">
                                                    <h6>Tag:</h6>
                                                </div>
                                                <ul>
                                                    <li><a href="/">#Technology</a></li>
                                                    <li><a href="/">#IT Business</a></li>
                                                </ul>
                                            </div>
                                            <div class="blog-tags blog-share">
                                                <div class="tag-title">
                                                    <h6>Share:</h6>
                                                </div>
                                                <ul>
                                                    <li><a href="/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                    <li><a href="/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                                    <li><a href="/"><i class="fa-brands fa-twitter"></i></a></li>
                                                    <li><a href="/"><i class="fa-brands fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                     
                                    
                               
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="sidebar ms-xl-4">
                           
                      
                                <div class="sidebar-item">
                                    <h4 class="stitle">Bài viết mới</h4>
                                    <div class="blog-recent-post footer-recent-post">
                                        <ul>
                                            <li class="blog-sidebar-box-item blog-item d-flex">
                                                <div class="img-box"><img alt="blog" loading="lazy" width="109"
                                                        height="93" decoding="async" data-nimg="1" class="h-100"
                                                        srcset="/_next/image?url=%2Fassets%2Fimages%2Fblog%2Frecent1.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fblog%2Frecent1.png&amp;w=256&amp;q=75 2x"
                                                        src="/_next/image?url=%2Fassets%2Fimages%2Fblog%2Frecent1.png&amp;w=256&amp;q=75"
                                                        style="color: transparent;"></div>
                                                <div class="content-box">
                                                    <div class="meta-box">
                                                        <ul class="meta-info">
                                                            <li>
                                                                <div class="icon"><i class="flaticon-calendar"></i>
                                                                </div><span><a class="c-black" href="/">Oct 2,
                                                                        2023</a></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="title-box">
                                                        <h3 class="c-black"><a href="/">Efficiency redefined through
                                                                technology.</a></h3>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="blog-sidebar-box-item blog-item d-flex">
                                                <div class="img-box"><img alt="blog" loading="lazy" width="109"
                                                        height="93" decoding="async" data-nimg="1" class="h-100"
                                                        srcset="/_next/image?url=%2Fassets%2Fimages%2Fblog%2Frecent2.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fblog%2Frecent2.png&amp;w=256&amp;q=75 2x"
                                                        src="/_next/image?url=%2Fassets%2Fimages%2Fblog%2Frecent2.png&amp;w=256&amp;q=75"
                                                        style="color: transparent;"></div>
                                                <div class="content-box">
                                                    <div class="meta-box">
                                                        <ul class="meta-info">
                                                            <li>
                                                                <div class="icon"><i class="flaticon-calendar"></i>
                                                                </div><span><a class="c-black" href="/">Oct 2,
                                                                        2023</a></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="title-box">
                                                        <h3 class="c-black"><a href="/">IT Solution for your
                                                                Company.</a></h3>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sidebar-item mb-0">
                                    <h4 class="stitle">Thẻ</h4>
                                    <div class="blog-tags">
                                        <ul>
                                            <li><a href="/">Interiour</a></li>
                                            <li><a href="/">Software</a></li>
                                            <li><a href="/">Design</a></li>
                                            <li><a href="/">Web Planting</a></li>
                                            <li><a href="/">Daily Inspiration</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('./particals/footer.ejs') %>


    </div>
    <script src="/_next/static/js/header.js"></script>
    <script src="/_next/static/js/global.js"></script>

</body>

</html>