<!DOCTYPE html>
<html lang="en" class="__className_333388">

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>

    <head>
        <meta charset="ISO-8859-1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet" />
        <!-- icon -->
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-straight/css/uicons-regular-straight.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-rounded/css/uicons-bold-rounded.css'>
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
        <!-- swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/_next/static/css/style.css" />
        <title>Chính sách</title>
        <!-- <meta name="description"
          content="Itco Nextjs 14 Template for agencies, businesses, consulting firms, creative ventures, cybersecurity providers, data management specialists, digital agencies, IT services, IT solutions providers, SaaS companies, software developers, startups, and technology service providers." /> -->
        <link rel="shortcut icon" href="/_assets/images/product/logoTDC.png" type="image/x-icon">
        <meta name="next-size-adjust" />


        <!-- animation -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    </head>
</head>

<body><button class="scroll-top scroll-to-target "><i class="fa-solid fa-angles-up"></i></button>
    <div class="fix wrapper-contact-page page">
        <div id="preloader" style="display:block">
            <div id="loader"></div>
        </div>
        <%- include('./particals/header.ejs') %>
            <section id="site-breadcumb"
                style="background-image: url(&quot;assets/images/breadcumb/breadcumb-bd.svg&quot;);">
                <div class="site-breadcumb-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="breadcumb-content">
                                    <h1 class="breadcumb-title">Chính sách</h1>
                                    <ul class="page-navigator">
                                        <li><a href="/">Trang chủ</a></li>
                                        <li><a href="/blog">Chính sách</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="policy-content service-details sec-ptb">
                <div class="container">
                    <div class="row flex-column-reverse flex-xl-row">
                        <div class="col-xl-4">
                            <div class="sidebar me-xl-4">
                                <div class="sidebar-item service-list">
                                    <h4 class="stitle">Chính sách</h4>
                                    <ul class="cat-list">
                                        <li><a>Chính sách bảo hành<i
                                                    class="flaticon-right-arrow child"></i></a></li>
                                        <li><a>Chính sách bảo hành<i
                                                    class="flaticon-right-arrow child"></i></a></li>
                                        <li><a>Chính sách bảo hành<i
                                                    class="flaticon-right-arrow child"></i></a></li>
                                        <li><a>Chính sách bảo hành<i
                                                    class="flaticon-right-arrow child"></i></a></li>
                                        <li><a>Chính sách bảo hành<i
                                                    class="flaticon-right-arrow child"></i></a></li>
                                        <li><a>Chính sách bảo hành<i
                                                    class="flaticon-right-arrow child"></i></a></li>
                                    </ul>
                                </div>
                                
                                <!-- <div class="sidebar-item mb-0 project-qinfo">
                                    <div class="qinfo-item">
                                        <div class="qinfo-icon"><i class="flaticon-maps-and-flags"></i></div>
                                        <div class="qinfo-box">
                                            <h5>Địa chỉ</h5><a href="index.html">7 Green Lake Street Crawfordsville, IN
                                                47933</a>
                                        </div>
                                    </div>
                                    <div class="qinfo-item">
                                        <div class="qinfo-icon"><i class="flaticon-call"></i></div>
                                        <div class="qinfo-box">
                                            <h5>Số điện thoại</h5><a href="tel:+1801.234.5678">+1801.234.5678</a>
                                        </div>
                                    </div>
                                    <div class="qinfo-item mb-0">
                                        <div class="qinfo-icon"><i class="flaticon-gmail-logo"></i></div>
                                        <div class="qinfo-box">
                                            <h5>Email</h5><a
                                                href="mailto:mehedi@company.com">mehedi@company.com</a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="service-details-wrapper">
                                <select class="hide-on-pc show-on-mobile form-select" name="" id="optTap_policy">
                    
                                    <option value="1">
                                      
                                        Chính sách bảo mật
                                    </option>
                                    
                                    <option value="2">
                                      
                                        Chính sách bảo hành
                                    </option>
                                    
                                    <option value="3">
                                      
                                        Giải quyết khiếu nại
                                    </option>
                                    
                                    <option value="4">
                                      
                                        Chính sách đổi trả
                                    </option>
                                    
                                    <option value="5">
                                      
                                        Chính sách giao hàng
                                    </option>
                                    
                                    <option value="6">
                                      
                                        Chính sách thanh toán
                                    </option>
                                    
                                </select>                                
                                <div class="service-details-content">
                                    <p>1. PHẠM VI VÀ MỤC ĐÍCH CÁ NHÂN

                                        - Chúng tôi thu thập thông tin của Quý khách về họ tên, số điện thoại, email do Quý khách cung cấp tại mục “Đăng ký” nhằm mục đích:
                                        
                                        + Hỗ trợ khách hàng khi mua sản phẩm
                                        
                                        + Giải đáp thắc mắc khách hàng
                                        
                                        +  Cung cấp cho Quý khách thông tin về sản phẩm của chúng tôi
                                        
                                        +  Thực hiện các hoạt động quảng bá liên quan
                                        
                                        - Khi Quý khách truy cập vào Website, chúng tôi có thể thu thập thông tin về các số lần ghé thăm, số lượt truy cập vào các mục sản phẩm nhằm xem xét và nâng cấp nội dung và giao diện của Website, hơn thế nữa là có thể cải thiện trải nghiệm của khách hàng.
                                        
                                        2. PHẠM VI SỬ DỤNG
                                        
                                        - Chúng tôi thu thập và sử dụng thông tin cá nhân Quý khách với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.
                                        
                                        - Chúng tôi có thể chia sẻ thông tin cá nhân của Quý khách trong các trường hợp thật sự cần thiết và theo quy định của pháp luật, cụ thể:
                                        
                                        + Hỗ trợ khách hàng khi mua sản phẩm
                                        
                                        + Giải đáp thắc mắc khách hàng
                                        
                                        + Cung cấp cho Quý khách thông tin về sản phẩm của chúng tôi
                                        
                                        + Thực hiện các hoạt động quảng bá liên quan
                                        
                                        3. BẢO MẬT THÔNG TIN CÁ NHÂN
                                        
                                        - Chúng tôi luôn nỗ lực để đảm bảo thông tin của Quý khách được bảo mật, bằng việc áp dụng các công nghệ bảo mật và hệ thống được trang bị nhiều tính năng bảo mật.
                                        
                                        - Chúng tôi được miễn trừ trách nhiệm trong một số trường hợp sau: Hệ thống xử lý dữ liệu; phần mềm, hệ thống truyền tín hiệu gặp sự cố, bị lỗi, bị tấn công hay bất kỳ lý do khách quan nào khác nằm ngoài khả năng kiểm soát của chúng tôi.
                                        
                                        - Bằng việc cung cấp thông tin trên Website, Quý khách thừa nhận đã đọc, hiểu và đồng ý với các điều khoản về Chính sách bảo mật này.
                                        
                                        4. THỜI GIAN LƯU TRỮ THÔNG TIN
                                        
                                        - Dữ liệu cá nhân của Quý khách hàng sẽ được lưu trữ cho đến khi Quý khách hàng có yêu cầu hủy bỏ hoặc tự Quý khách hàng đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân của Quý khách hàng sẽ được bảo mật trên máy chủ của chúng tôi.
                                        
                                        5. THAY ĐỔI CHÍNH SÁCH
                                        
                                        - Chúng tôi hoàn toàn có thể thay đổi nội dung trong “Chính sách bảo mật” mà không cần phải thông báo trước, để phù hợp với các nhu cầu của “TDC” cũng như nhu cầu được phản hồi từ khách hàng. Khi cập nhật nội dung chính sách này, chúng tôi sẽ chỉnh sửa lại thời gian “Cập nhật lần cuối” bên dưới.
                                        
                                        - Nội dung “Chính sách bảo mật” này chỉ áp dụng tại TDC, không bao gồm hoặc liên quan đến các bên thứ ba đặt quảng cáo hay có link tại TDC. Chúng tôi khuyến khích quý khách đọc kỹ "Chính sách An toàn và Bảo mật" của các trang Web của bên thứ ba trước khi cung cấp thông tin cá nhân cho các trang Web đó. Chúng tôi không chịu trách nhiệm dưới bất kỳ hình thức nào về nội dung và tính pháp lý của trang Web thuộc bên thứ ba.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('./particals/footer.ejs') %>


    </div>
    <script src="/_next/static/js/header.js"></script>
    <script src="/_next/static/js/global.js"></script>

</body>

</html>