<!DOCTYPE html>
<html lang="en" class="__className_333388">

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>

    <head>
        <meta charset="ISO-8859-1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet" />
        <!-- icon -->
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-straight/css/uicons-regular-straight.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-rounded/css/uicons-bold-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-straight/css/uicons-bold-straight.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css'>
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
        <!-- swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/_next/static/css/style.css" />
        <title>Giải pháp</title>
        <!-- <meta name="description"
          content="Itco Nextjs 14 Template for agencies, businesses, consulting firms, creative ventures, cybersecurity providers, data management specialists, digital agencies, IT services, IT solutions providers, SaaS companies, software developers, startups, and technology service providers." /> -->
        <link rel="shortcut icon" href="/_assets/images/product/logoTDC.png" type="image/x-icon">
        <meta name="next-size-adjust" />


        <!-- animation -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
        <!-- slick -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    </head>
</head>

<body><button class="scroll-top scroll-to-target "><i class="fa-solid fa-angles-up"></i></button>
    <div class="fix wrapper-solution-page page">
        <div id="preloader" style="display:block">
            <div id="loader"></div>
        </div>
        <%- include('./particals/header.ejs') %>
            <section id="site-breadcumb">
                <div class="site-breadcumb-wrapper bg-breadcumb">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="breadcumb-content">
                                    <h1 class="breadcumb-title">Giải pháp</h1>
                                    <ul class="page-navigator">
                                        <li><a href="/">Trang chủ</a></li>
                                        <li><a href="/blog">Giải pháp</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="service-sec2 sec-ptb bg-light-greem">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-3 col-lg-6">
                            <div class="sec-content text-center mb-5">
                                <h2 class="sec-title">GIẢI PHÁP</h2>
                                <h5 class="sec-sub-title">của chúng tôi</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="single-service-style2 wow fadeInUp" data-wow-delay="300ms"
                                data-wow-duration="1500ms"
                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms;">
                                <div class="img-box"><img alt="service" loading="lazy" width="auto" height="120"
                                        decoding="async" data-nimg="1" class="h-h-100"
                                        src="/_assets/images/solution/timer.gif" style="color: transparent;"></div>
                                <div class="boxer">
                                    <div class="single-service-content">
                                        <h3>CẢM BIẾN DẦU</h3>
                                        <p>Optimization is the process of enhancing efficiency and effectiveness within
                                            your business operations or technology systems.</p>
                                    </div>
                                </div>
                                <div class="downPage">
                                    <a href="#section-solution-temp"><i class="fa-solid fa-angles-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="single-service-style2 wow fadeInUp" data-wow-delay="300ms"
                                data-wow-duration="1500ms"
                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms;">
                                <div class="img-box"><img alt="service" loading="lazy" width="auto" height="120"
                                        decoding="async" data-nimg="1" class="h-h-100"
                                        src="/_assets/images/solution/temperature.gif" style="color: transparent;">
                                </div>
                                <div class="boxer">
                                    <div class="single-service-content">
                                        <h3>CẢM BIẾN NHIỆT</h3>
                                        <p>Optimization is the process of enhancing efficiency and effectiveness within
                                            your business operations or technology systems.</p>
                                    </div>
                                </div>
                                <div class="downPage">
                                    <a href="#"><i class="fa-solid fa-angles-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="single-service-style2 wow fadeInUp" data-wow-delay="300ms"
                                data-wow-duration="1500ms"
                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms;">
                                <div class="img-box"><img alt="service" loading="lazy" width="auto" height="120"
                                        decoding="async" data-nimg="1" class="h-h-100"
                                        src="/_assets/images/solution/cctv.gif" style="color: transparent;"></div>
                                <div class="boxer">
                                    <div class="single-service-content">
                                        <h3>CAMERA TÍCH HỢP AI</h3>
                                        <p>Optimization is the process of enhancing efficiency and effectiveness within
                                            your business operations or technology systems.</p>
                                    </div>
                                </div>
                                <div class="downPage">
                                    <a href="#"><i class="fa-solid fa-angles-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-solution-temp" class="solution sec-ptb  ">
                <div class="container">
                    <div class="title-solution">
                        <h2>THIẾT BỊ CẢM BIẾN DẦU</h2>
                        <p class="text-center">Giải pháp hoàn hảo để quản lý nhiên liệu.</p>
                    </div>
                    <div class="solution-des">
                        <div class="solution-des-item">
                            <div class="number-item">
                                <h2 class="big-number">01</h2>
                                <div class="line"></div>
                            </div>
                            <DIV class="content-item">
                                <h4 class="mt-4 mb-3">GIÁM SÁT CHẶT CHẼ</h4>
                                <ul>
                                    <li>Giám sát chặt chẽ quá trình tiêu hao nhiên liệu</li>
                                    <li>Báo cáo thống kê chi tiết, trực quan quá trình sử dụng nhiên liệu của xe, đội xe
                                    </li>
                                    <li>Ngăn ngừa hiệu quả vấn đề thất thoát nhiên liệu</li>
                                    <li>Giúp Doanh nghiệp kịp thời điều chỉnh, tính toán định mức hợp lý, giảm thiểu
                                        thất
                                        thoát</li>
                                </ul>
                            </DIV>
                        </div>
                        <div class="solution-des-item">
                            <div class="number-item">
                                <h2 class="big-number">02</h2>
                                <div class="line"></div>
                            </div>
                            <h4 class="mt-4 mb-3">TÍNH NĂNG CƠ BẢN</h4>
                            <ul>
                                <li>Cảm biến dầu mới 100%</li>
                                <li>Đo dầu chính xác lên tới 99%</li>
                                <li>Báo cáo mức nhiên liệu đã sử dụng theo thời gian thực</li>
                                <li>Báo cáo nạp đổ rút trộm nhiên liệu bất thường</li>
                            </ul>
                        </div>
                        <div class="solution-des-item">
                            <div class="number-item">
                                <h2 class="big-number">03</h2>
                                <div class="line"></div>
                            </div>
                            <h4 class="mt-4 mb-3">THÍCH HỢP NHIỀU PHƯƠNG TIỆN</h4>
                            <ul>
                                <li>Lắp đặt được hầu hết các loại phương tiện vận tải: Xe buýt, xe đường dài, xe tải, xe
                                    container, xe công trình,...</li>

                            </ul>
                        </div>
                    </div>
                    <div class="solution-banner">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScCFk3FTOU5y7LCoXqfqaUoO9vhOc4htOAFg&s" alt="">
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class=" slider fade">
                                <div style="height: 350px;">
                                    <img src="https://viet_node2.midvietnam.com/files/camgnghidinh2.jpg"
                                        alt="First slide">
                                </div>
                                <div style="height: 350px;">
                                    <img src="https://viet_node2.midvietnam.com/files/camnghidinh10.jpg"
                                        alt="Second slide">
                                </div>
                                <div style="height: 350px;">
                                    <img src="https://viet_node2.midvietnam.com/files/thietbidinhvi1.jpg"
                                        alt="Third slide">
                                </div>
                            </div>
                            <div class="slider slider-nav">
                                <div> <img class="d-block"
                                        src="https://viet_node2.midvietnam.com/files/camgnghidinh2.jpg"
                                        alt="Third slide"></div>
                                <div> <img class="d-block"
                                        src="https://viet_node2.midvietnam.com/files/camnghidinh10.jpg"
                                        alt="Third slide"></div>
                                <div> <img class="d-block"
                                        src="https://viet_node2.midvietnam.com/files/thietbidinhvi1.jpg"
                                        alt="Third slide"></div>
                            </div>

                        </div>
                        <div class="col-lg-6 d-flex">
                            <div class="solution-product">
                                <div class="product-name">
                                    <h3>THIẾT BỊ CẢM BIẾN DẦU THEO NGHỊ ĐỊNH 10</h3>
                                </div>
                                <p>
                                    Cảm biến nhiên liệu đo xăng dầu (thiết bị cảm biến tải trọng) là thiết bị đựợc tích
                                    hợp lắp đặt vào gps định vị ô tô dùng để kiếm soát mức nhiên liệu tiêu hao trong quá
                                    trình hoạt động của xe, báo cáo mức nhiên liệu thực tế trong bình, báo cáo nhiên
                                    liệu đựơc nạp vào, nhiên liệu đã tiêu thụ, thời điểm nạp nhiên liệu …thông qua báo
                                    cáo số liệu và biểu đồ, phát hiện tình trạng hút trộm xăng dầu, và các điểm tiêu hao
                                    nhiên liệu bất thuờng một cách nhanh chóng
                                </p>
                                <div class="policy">
                                    <h3 class="i-title"><i class="fa-sharp fa-solid fa-gears"></i> Thông số kỹ thuật
                                    </h3>
                                    <ul class="content">
                                        <li><span><i class="fa-solid fa-check"></i>Thời gian bảo hành thiết bị là 1
                                                năm.</span></li>
                                        <li><span><i class="fa-solid fa-check"></i>Bảo hành 1 đổi 1 thiết bị mới* theo
                                                chính sách bảo hành.</span></li>
                                        <li><span><i class="fa-solid fa-check"></i>Tùy chọn gói bảo hành dài hạn.</span>
                                        </li>
                                        <li><span><i class="fa-solid fa-check"></i>Ưu đãi gói bảo hành với số lượng
                                                thiết bị lớn.</span></li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
            </section>
            <%- include('./particals/footer.ejs') %>


    </div>
    <script src="/_next/static/js/header.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script src="/_next/static/js/global.js">
    </script>
    <script src="/plugins/owlCarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <!-- slick -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.fade').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav'
            });
            $('.slider-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.fade',
                dots: true,
                centerMode: true,
                focusOnSelect: true
            });
        });
    </script>
</body>

</html>