<!DOCTYPE html>
<html lang="en" class="__className_333388">

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>

    <head>
        <meta charset="ISO-8859-1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet" />
        <!-- icon -->
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-straight/css/uicons-regular-straight.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css'>
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-rounded/css/uicons-bold-rounded.css'>
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
        <!-- swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/_next/static/css/style.css" />
        <title>Giải pháp</title>
        <!-- <meta name="description"
          content="Itco Nextjs 14 Template for agencies, businesses, consulting firms, creative ventures, cybersecurity providers, data management specialists, digital agencies, IT services, IT solutions providers, SaaS companies, software developers, startups, and technology service providers." /> -->
        <link rel="shortcut icon" href="/_assets/images/product/logoTDC.png" type="image/x-icon">
        <meta name="next-size-adjust" />


        <!-- animation -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    </head>
</head>

<body><button class="scroll-top scroll-to-target "><i class="fa-solid fa-angles-up"></i></button>
    <div class="fix wrapper-contact-page page">
        <div id="preloader" style="display:block">
            <div id="loader"></div>
        </div>
        <%- include('./particals/header.ejs') %>
            <section id="site-breadcumb"
                style="background-image: url(&quot;assets/images/breadcumb/breadcumb-bd.svg&quot;);">
                <div class="site-breadcumb-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="breadcumb-content">
                                    <h1 class="breadcumb-title">Giải pháp</h1>
                                    <ul class="page-navigator">
                                        <li><a href="/">Trang chủ</a></li>
                                        <li><a href="/blog">Giải pháp</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-sec contact-page-sec sec-ptb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="sec-content">
                                <h2 class="sec-title">Liên Lạc</h2>
                                <form class="itco-cform" method="post">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="contact-field"><input type="text" id="firstn"
                                                    placeholder="Họ & tên" name="firstn" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="contact-field"><input type="text" id="phone"
                                                    placeholder="Số điện thoại" name="phone" /></div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="contact-field"><textarea name="message" id="message" cols="40"
                                                    rows="4" placeholder="Nội dung"></textarea></div>
                                            <div class="itco-form-btn"><button class="thm-btn"><span class="txt">Gửi nội
                                                        dung</span></button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 tab-col-gap">
                            <div class="sec-content justify-content-start">
                                <h2 class="sec-title">Bản Đồ</h2>
                                <div class="contact-map">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.3135856706826!2d106.73499489678959!3d10.863736500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527205f83292f%3A0x6d927aebd4ae2ea6!2zQ8O0bmcgdHkgQ-G7lSBwaOG6p24gVMOgaSBY4bq_IEPDtG5nIE5naOG7hw!5e0!3m2!1svi!2s!4v1720492134836!5m2!1svi!2s"
                                        width="100%" height="260" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="introduce-product about-sec about-sec2 sec-ptb bg-light-greem ">
                <div class="container">
                  <div class="row flex-row-reverse">
                    <h4 class="sec-title sec-title-mobile">
                      THIẾT BỊ GIÁM SÁT VỚI ESIM tự hào tiên phong XÓA BỎ sim cứng
                    </h4>
                    <div class="col-lg-6 d-flex align-items-center" data-aos="fade-left" data-aos-duration="1500">
                      <div class="sec-images sec-img-style col-right">
                        <div class="product-image">
                          <!-- <iframe src="https://hieupham.sirv.com/productspin/ok.spin" allow="autoplay"; width="400px" height="400px" frameborder="0" allowfullscreen></iframe> -->
                          <img src="https://hieupham.sirv.com/productspin/ok.spin?image=34&gif.lossy=5&w=500&h=500" width="500"
                            height="500" alt="product_thumb">
                          <!-- <img src="https://hieupham.sirv.com/Spins/spin/ok.spin?image=5&gif.lossy=5&w=167&h=500" width="167" height="500" alt=""> -->
                          <!-- <img src="https://hieupham.sirv.com/Spins/Trainers/Trainers.spin?image=36&gif.lossy=5&w=500&h=500" width="500" height="500" alt=""> -->
                        </div>
        
        
                      </div>
                    </div>
                    <div class="col-lg-6 tab-col-gap wow fadeInUp" data-aos="fade-right" data-aos-duration="1500">
                      <div class="sec-content">
                        <h4 style="font-size: 30px;" class="sec-title sec-title-none">
                          THIẾT BỊ GIÁM SÁT VỚI ESIM - tự hào tiên phong XÓA BỎ sim cứng
                        </h4>
                        <p class="sec-text">
                          80% LỖI MẤT TÍN HIỆU CỦA THIẾT BỊ GSHT LÀ DO SIM VẬT LÝ
                        </p>
                        <h5>5G GPS với ESIM</h5>
                        <ul class="sec-list-item">
                          <li>
                            <i class="fa-solid fa-square-check"></i>
                            Không còn lo lắng bị phạt vì phương tiện không truyền dữ liệu theo quy định.
                          </li>
                          <li>
                            <i class="fa-solid fa-square-check"></i>
                            Giám sát liên tục, nâng cao vai trò quản lý giám sát
                          </li>
                          <li>
                            <i class="fa-solid fa-square-check"></i>
                            Dễ dàng thay đổi nhà mạng hay gói cước phù hợp với nhu cầu sử dụng.
                          </li>
                          <li>
                            <i class="fa-solid fa-square-check"></i>
                            Là giải pháp hiệu quả khi thay thế các thiết bị GSHT 2G trước đây sắp bị cắt bỏ.
                          </li>
                          <li>
                            <i class="fa-solid fa-square-check"></i>
                            Sản phẩm hợp chuẩn, hợp quy theo QCVN31, QCVN117, QCVN55.
                          </li>
                          <li>
                            <i class="fa-solid fa-square-check"></i>
                            Chính sách hậu mãi chu đáo, đội ngũ kỹ thuật hỗ trợ 24/24.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            <section>

                <div class="mysolution">

                    <div class="containerCustom">

                        <div class="contentWrapper">

                            <div class="mysolution__title">

                                <p>Giải pháp <span>của chúng tôi</span></p>

                            </div>

                        </div>

                        <div class="mysolution__content">

                            <p><span style="color:#2980b9"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Thiết bị IoT
                                        (<em>internet of things</em>) đ&atilde; v&agrave; đang được ứng dụng&nbsp;ở khắp
                                        nơi tr&ecirc;n thế giới.&nbsp;Theo dự đo&aacute;n c&aacute;c thiết bị IoT sẽ
                                        tăng trung b&igrave;nh 12%/năm. Đến năm 2030 sẽ l&agrave; 125tỉ (nguồn:
                                        www.technology.ihs.com).<br />
                                        &nbsp; &nbsp; &nbsp; &nbsp; Tại MID Việt Nam, ch&uacute;ng t&ocirc;i tập trung
                                        nghi&ecirc;n cứu c&aacute;c giải ph&aacute;p,&nbsp;dựa tr&ecirc;n
                                        việc&nbsp;ph&aacute;t triển c&aacute;c thiết bị&nbsp;IoT để phục vụ cho
                                        ng&agrave;nh vận tải.&nbsp;</strong></span></p>
                        </div>

                        <div class="mysolution__img">

                            <img src="upload/introsolution/thumb/1_thumb.png">

                        </div>

                    </div>

                </div>





                <div class="ticketmanagement">

                    <div class="containerCustom">

                        <div class="contentWrapper">

                            <div class="ticketmanagement__logo">

                                <img src="upload/buspay/thumb/1_thumb.png">

                            </div>

                            <div class="ticketmanagement__title">

                                <p>Hệ thống bán vé xe Buýt</p>

                            </div>

                            <div class="ticketmanagement__des">

                                <p>Giải pháp hoàn chỉnh từ khâu mua vé đến vận hành.</p>

                            </div>

                            <div class="ticketmanagement__content">

                                <div class="ticketmanagement__content__left">




                                    <div class="ticketmanagement__content__left__item">

                                        <div class="ticketmanagement__content__left__item__content">

                                            <p>Dễ dàng sử dụng <br> Thiết lập đơn giản</p>

                                        </div>

                                        <div class="ticketmanagement__content__left__item__img">

                                            <img src="upload/sloganbuspay/thumb/3_thumb.png">

                                        </div>

                                    </div>






                                    <div class="ticketmanagement__content__left__item">

                                        <div class="ticketmanagement__content__left__item__content">

                                            <p>Báo cáo linh hoạt <br> Thanh toán đa dạng</p>

                                        </div>

                                        <div class="ticketmanagement__content__left__item__img">

                                            <img src="upload/sloganbuspay/thumb/4_thumb.png">

                                        </div>

                                    </div>






                                </div>

                                <div class="ticketmanagement__content__mid">

                                    <img src="upload/buspay/thumb/2_thumb.png">

                                </div>

                                <div class="ticketmanagement__content__right">






                                    <div class="ticketmanagement__content__right__item">

                                        <div class="ticketmanagement__content__right__item__img">

                                            <img src="upload/sloganbuspay/thumb/5_thumb.png">

                                        </div>

                                        <div class="ticketmanagement__content__right__item__content">

                                            <p>Giám sát chặt chẽ <br> Tra soát dễ dàng</p>

                                        </div>

                                    </div>






                                    <div class="ticketmanagement__content__right__item">

                                        <div class="ticketmanagement__content__right__item__img">

                                            <img src="upload/sloganbuspay/thumb/6_thumb.png">

                                        </div>

                                        <div class="ticketmanagement__content__right__item__content">

                                            <p>Sẵn sàng phát triển <br> Kết nối nhiều nền tảng</p>

                                        </div>

                                    </div>




                                </div>

                            </div>

                            <div class="ticketmanagement__infoLink">


                                <a href="upload/buspay/BusPay-Brochure.pdf" download>Brochure</a>


                                <a href="https://buspay.vn">Web link</a>

                            </div>

                        </div>

                    </div>

                </div>







                <div class="buyticket">

                    <div class="containerCustom">

                        <div class="contentWrapper">

                            <div class="buyticket__logo">

                                <img src="upload/buyticket/thumb/vinaticket_png_thumb.png">

                            </div>

                            <div class="buyticket__title">

                                <p>ĐẶT VÉ XE ONLINE</p>

                            </div>

                            <div class="buyticket__des">

                                <p>Tìm một chuyến đi dễ dàng hơn bao giờ hết</p>

                            </div>

                            <div class="buyticket__content">

                                <div class="buyticket__content__left">

                                    <div class="buyticket__content__left__img">

                                        <img src="upload/buyticket/thumb/2_thumb.png">

                                    </div>

                                </div>

                                <div class="buyticket__content__right">



                                    <div class="buyticket__content__right__item">

                                        <div class="buyticket__content__right__item__img">

                                            <img src="upload/sloganticket/thumb/3_thumb.png">

                                        </div>

                                        <div class="buyticket__content__right__item__content">

                                            <div class="buyticket__content__right__item__title">

                                                <p>Quản lý khoa học</p>

                                            </div>

                                            <div class="buyticket__content__right__item__des">

                                                <p>Phân quyền đầy đủ các nghiệp vụ cần thiết cho điều hành, nhân viên,
                                                    phòng vé... Báo cáo khoa học, kịp thời, rõ ràng.</p>

                                            </div>

                                        </div>

                                    </div>


                                    <div class="buyticket__content__right__item">

                                        <div class="buyticket__content__right__item__img">

                                            <img src="upload/sloganticket/thumb/4_thumb.png">

                                        </div>

                                        <div class="buyticket__content__right__item__content">

                                            <div class="buyticket__content__right__item__title">

                                                <p>Tiết kiệm vận hành</p>

                                            </div>

                                            <div class="buyticket__content__right__item__des">

                                                <p>Tối giản chi phí nhân sự và nâng cao hiệu quả quản lý.</p>

                                            </div>

                                        </div>

                                    </div>


                                    <div class="buyticket__content__right__item">

                                        <div class="buyticket__content__right__item__img">

                                            <img src="upload/sloganticket/thumb/5_thumb.png">

                                        </div>

                                        <div class="buyticket__content__right__item__content">

                                            <div class="buyticket__content__right__item__title">

                                                <p>Thúc đẩy doanh số</p>

                                            </div>

                                            <div class="buyticket__content__right__item__des">

                                                <p>Nâng cao chất lượng để thu hút nhiều hành khách, gia tăng doanh số.
                                                </p>

                                            </div>

                                        </div>

                                    </div>


                                    <div class="buyticket__content__right__item">

                                        <div class="buyticket__content__right__item__img">

                                            <img src="upload/sloganticket/thumb/6_thumb.png">

                                        </div>

                                        <div class="buyticket__content__right__item__content">

                                            <div class="buyticket__content__right__item__title">

                                                <p>Marketing mạnh mẽ</p>

                                            </div>

                                            <div class="buyticket__content__right__item__des">

                                                <p>Hỗ trợ công cụ phân tích hành vi của hành khách, giúp nhà xe đưa ra
                                                    các chiến lược marketing hiệu quả.</p>

                                            </div>

                                        </div>

                                    </div>



                                </div>

                            </div>

                            <div class="buyticket__infoLink">

                                <a href="">Brochure</a>

                                <a href="https://vinaticket.vn">Web link</a>

                            </div>

                        </div>

                    </div>

                </div>







                <div class="monitoring">

                    <div class="containerCustom">

                        <div class="contentWrapper">

                            <div class="monitoring__logo">

                                <img src="upload/monitoring/thumb/1_thumb.png">

                            </div>

                            <div class="monitoring__title">

                                <p>Giám sát All In One</p>

                            </div>

                            <div class="monitoring__des">

                                <p>Gps, video, nhiên liệu, nhiệt độ, giám sát số lượng khách...</p>

                            </div>

                            <div class="monitoring__banner">

                                <img src="upload/monitoring/thumb/2_thumb.png">

                            </div>

                            <div class="monitoring__content">

                                <div class="monitoring__content__left">




                                    <div class="monitoring__content__left__item">

                                        <div class="monitoring__content__left__item__content">

                                            <p class="title">Giám Sát Chặt Chẽ</p>

                                            <p>Hệ thống ghi hình, hành trình gps, tình trạng nhiên liệu, nhiệt độ và số
                                                lượng hành khách cập nhật liên tục tới máy chủ. Dữ liệu được bảo quản và
                                                xem lại ngay cả khi thiết bị đã bị tắt.</p>

                                        </div>

                                        <div class="monitoring__content__left__item__img">

                                            <img src="upload/sloganmonitor/thumb/4_thumb.png">

                                        </div>

                                    </div>






                                    <div class="monitoring__content__left__item">

                                        <div class="monitoring__content__left__item__content">

                                            <p class="title">Phù hợp với nghị định</p>

                                            <p>Dữ liệu được lưu trữ theo quy định và sẵn sàng gửi dữ liệu theo yêu cầu
                                                của cơ quan quản lí vận tải.</p>

                                        </div>

                                        <div class="monitoring__content__left__item__img">

                                            <img src="upload/sloganmonitor/thumb/8_thumb.png">

                                        </div>

                                    </div>






                                </div>

                                <div class="monitoring__content__mid">

                                    <link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />

                                    <link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css"
                                        rel="stylesheet">

                                    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

                                    <script src="https://vjs.zencdn.net/7.6.6/video.js"></script>

                                    <!--img src="upload/monitoring/thumb/mcc2_thumb.png"-->

                                    <video id="my-video" class="video-js vjs-theme-forest" controls preload="auto"
                                        width="240" height="240" poster="upload/solution/thumbs.png" data-setup="{}"
                                        playsinline loop>

                                        <source src="upload/solution/Gioithieumobicam.mp4" type="video/mp4">

                                    </video>

                                </div>

                                <div class="monitoring__content__right">






                                    <div class="monitoring__content__right__item">

                                        <div class="monitoring__content__right__item__img">

                                            <img src="upload/sloganmonitor/thumb/7_thumb.png">

                                        </div>

                                        <div class="monitoring__content__right__item__content">

                                            <p class="title">Chuyên dùng cho vận tải</p>

                                            <p>Thiết bị được sản xuất cho môi trường vận tải, chịu tác động lớn với thời
                                                gian hoạt động liên tục và nhiệt độ làm việc cao</p>

                                        </div>

                                    </div>






                                    <div class="monitoring__content__right__item">

                                        <div class="monitoring__content__right__item__img">

                                            <img src="upload/sloganmonitor/thumb/6_thumb.png">

                                        </div>

                                        <div class="monitoring__content__right__item__content">

                                            <p class="title">Thích hợp nhiều phương tiện</p>

                                            <p>Lắp đặt được hầu hết các loại phương tiện vận tải : Xe buýt, xe đường
                                                dài, xe tải, xe container, xe công trình,...</p>

                                        </div>

                                    </div>




                                </div>

                            </div>

                            <div class="monitoring__infoLink">

                                <a href="https://midvietnam.com/uploads/mobicam_brochure.pdf"
                                    class="monitoring__infoLink--item1">Brochure</a>

                                <a href="https://cameragiamsathanhtrinh.com/" class="monitoring__infoLink--item2">Web
                                    link</a>

                            </div>

                        </div>

                    </div>

                </div>
            </section>
            <%- include('./particals/footer.ejs') %>


    </div>
    <script src="/_next/static/js/header.js"></script>
    <script src="/_next/static/js/global.js"></script>

</body>

</html>