/* @font-face {
  font-family: flaticon_itco;
  src: url(../media/flaticon_itco.cd9b0e58.ttf) format("truetype"), url(../media/flaticon_itco.6ae2b53e.woff) format("woff"), url(../media/flaticon_itco.e20f0b43.woff2) format("woff2"), url(../media/flaticon_itco.686f9596.eot#iefix) format("embedded-opentype"), url(../media/flaticon_itco.18b2d69a.svg#flaticon_itco) format("svg")
}

i[class*=" flaticon-"]:before,
i[class^=flaticon-]:before {
  font-family: flaticon_itco !important;
  font-style: normal;
  font-weight: 400 !important;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.flaticon-play-button:before {
  content: "\f101"
}

.flaticon-play-button-arrowhead:before {
  content: "\f102"
}

.flaticon-earth-with-thin-waves-pattern:before {
  content: "\f103"
}

.flaticon-circle-with-rhombs-pattern:before {
  content: "\f104"
}

.flaticon-gmail-logo:before {
  content: "\f105"
}

.flaticon-maps-and-flags:before {
  content: "\f106"
}

.flaticon-call:before {
  content: "\f107"
}

.flaticon-plus:before {
  content: "\f108"
}

.flaticon-play:before {
  content: "\f109"
}

.flaticon-rating:before {
  content: "\f10a"
}

.flaticon-rating-1:before {
  content: "\f10b"
}

.flaticon-user:before {
  content: "\f10c"
}

.flaticon-management:before {
  content: "\f10d"
}

.flaticon-menu:before {
  content: "\f10e"
}

.flaticon-star:before {
  content: "\f10f"
}

.flaticon-bullhorn:before {
  content: "\f110"
}

.flaticon-security:before {
  content: "\f111"
}

.flaticon-left-arrow:before {
  content: "\f112"
}

.flaticon-dashboard:before {
  content: "\f113"
}

.flaticon-app-development:before {
  content: "\f114"
}

.flaticon-software-development:before {
  content: "\f115"
}

.flaticon-minus:before {
  content: "\f116"
}

.flaticon-content-management:before {
  content: "\f117"
}

.flaticon-technical-support:before {
  content: "\f118"
}

.flaticon-handshake:before {
  content: "\f119"
}

.flaticon-download:before {
  content: "\f11a"
}

.flaticon-ux:before {
  content: "\f11b"
}

.flaticon-ux-design:before {
  content: "\f11c"
}

.flaticon-right-arrow:before {
  content: "\f11d"
}

.flaticon-chat:before {
  content: "\f11e"
}

.flaticon-calendar:before {
  content: "\f11f"
}

.flaticon-pattern:before {
  content: "\f120"
}

.flaticon-system:before {
  content: "\f121"
}

.flaticon-completed-task:before {
  content: "\f122"
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #164343;
  z-index: 999999
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fcf7e9;
  animation: spin 2s linear infinite
}

#loader:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  animation: spin 3s linear infinite
}

#loader:after,
#loader:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fcf7e9
}

#loader:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  animation: spin 1.5s linear infinite
}

@keyframes spin {
  0% {
      transform: rotate(0deg)
  }

  to {
      transform: rotate(1turn)
  }
}

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal
}

:root {
  --swiper-theme-color: #007aff
} */


.footer-sec {
  background: url(../media/footer.d3ce18c6.png) 50%/cover
}

.footer-sec .footer-hr {
  margin-bottom: 0;
  margin-top: 40px;
  border: 1px solid hsla(0, 0%, 100%, .6)
}

.footer-widget.pages-links {
  margin-left: -40px
}

.footer-widget {
  color: var(--thm-white);
  margin-bottom: 40px
}

.footer-widget .footer-widget-logo {
  margin-bottom: 30px
}

.footer-widget h4.footer-widget-title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 42px;
  color: var(--thm-white)
}

.footer-widget .footer-widget-content .footer-social-icon {
  margin-top: 30px
}

.footer-widget .footer-widget-content .footer-social-icon a {
  height: 42px;
  width: 42px;
  border: 1px solid var(--thm-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  color: var(--thm-white);
  transition: all .1s linear
}

.footer-widget .footer-widget-content .footer-social-icon a:hover {
  background: var(--thm-white);
  color: var(--thm-green)
}

.footer-widget .footer-widget-content .footer-social-icon a:last-child {
  margin-right: 0
}

.footer-widget .footer-widget-content .footer-links ul li {
  margin-bottom: 12px
}

.footer-widget .footer-widget-content .footer-links ul li a {
  color: var(--thm-white);
  transition: all .2s linear
}

.footer-widget .footer-widget-content .footer-links ul li a:hover {
  color: #0fc482
}

.footer-widget .footer-widget-content .footer-links ul li:last-child {
  margin-bottom: 0
}

.footer-recent-post .blog-sidebar-box-item {
  margin-bottom: 20px;
  padding-bottom: 0;
  border-bottom: 0
}

.footer-recent-post .blog-sidebar-box-item:last-child {
  margin-bottom: 0
}

.footer-recent-post .blog-sidebar-box-item .content-box {
  margin-left: 15px
}

.footer-recent-post .blog-sidebar-box-item .content-box .meta-box ul.meta-info {
  margin-bottom: 2px
}

.footer-recent-post .blog-sidebar-box-item .content-box .meta-box ul.meta-info li {
  margin-right: 0
}

.footer-recent-post .blog-sidebar-box-item .content-box .meta-box ul.meta-info li span a {
  color: var(--thm-white)
}

.footer-recent-post .blog-sidebar-box-item .content-box .title-box h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--thm-white)
}

.footer-copyright-text p {
  color: var(--thm-white);
  padding: 30px 0
}

.footer-copyright-text p a {
  font-weight: 500;
  color: #0fc482
}

.footer2 .section-overlay {
  padding-top: 208px
}

.newslatter-style2 {
  background: var(--thm-teal);
  border-radius: 10px;
  padding: 38px 50px;
  overflow: hidden;
  margin-bottom: -68px
}

.newslatter-style2 .newslatter-text {
  font-size: 30px;
  color: var(--thm-white)
}

.newslatter-style2 .Subscribe-form {
  position: relative
}

.newslatter-style2 .Subscribe-form input.form-control {
  width: 100%;
  padding: 17px 20px;
  line-height: 30px;
  border-radius: 10px
}

.newslatter-style2 .Subscribe-form button.thm-btn {
  position: absolute;
  background: var(--thm-teal);
  margin-top: 4px;
  right: 5px;
  padding-left: 40px;
  padding-right: 40px
}

.newslatter-style2 .Subscribe-form button.thm-btn:hover {
  color: var(--thm-white)
}

.service-details-wrapper .feature-img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px
}

.service-details-wrapper .feature-img img {
  width: 100%
}

.service-details-content .info-part {
  margin-bottom: 50px
}

.service-details-content .info-part h4 {
  font-size: 30px;
  margin-bottom: 16px
}

.service-details-content .info-part .info-part-img {
  border-radius: 10px;
  overflow: hidden
}

.service-details-content .info-part .info-part-img img {
  width: 100%
}

.service-details-content .info-part ul.info-list li {
  position: relative;
  margin-bottom: 14px;
  padding-left: 28px
}

.service-details-content .info-part ul.info-list li:last-child {
  margin-bottom: 0
}

.service-details-content .info-part ul.info-list li:before {
  content: "";
  background: url(../media/sli.877603b4.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: 18px;
  top: 6px;
  left: 0
}

.sidebar-item {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(56, 56, 56, .12);
  margin-bottom: 40px
}

.sidebar-item h4.stitle {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 20px
}

.sidebar-item ul.cat-list li {
  margin-bottom: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(56, 56, 56, .12);
  background: var(--thm-white)
}

.sidebar-item ul.cat-list li a {
  position: relative;
  color: var(--thm-black);
  display: block;
  transition: all .3s linear
}

.sidebar-item ul.cat-list li a i {
  position: relative;
  float: right;
  font-size: 24px;
  margin-top: 3px;
  transition: all .3s linear
}

.sidebar-item ul.cat-list li a:hover {
  color: var(--thm-teal);
  margin-left: 20px
}

.sidebar-item ul.cat-list li a:hover i {
  animation: GoFB .5s 1
}

.sidebar-item ul.cat-list li:last-child {
  margin-bottom: 0
}

.sidebar-item .download-brochures {
  display: flex
}

.sidebar-item .download-brochures .brochur-icon i {
  font-size: 50px;
  color: var(--thm-teal)
}

.sidebar-item .download-brochures .brochur-text {
  margin-left: 14px
}

.sidebar-item .download-brochures .brochur-text p {
  margin-bottom: 8px;
  margin-top: -6px
}

.sidebar-item .qinfo-item {
  display: flex;
  margin-bottom: 20px
}

.sidebar-item .qinfo-item .qinfo-icon i {
  background: var(--thm-bg-ling-green);
  color: var(--thm-teal);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%
}

.sidebar-item .qinfo-item .qinfo-box {
  margin-left: 14px
}

.sidebar-item .qinfo-item .qinfo-box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 4px
}

.sidebar-item .qinfo-item .qinfo-box a {
  color: var(--thm-black);
  display: block
}

.sidebar-item .qinfo-item .qinfo-box a:hover {
  color: var(--thm-teal)
}

.sidebar-item .blog-tags ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 15px
}

.sidebar-item .blog-tags ul li {
  padding: 10px 12px;
  border-radius: 6px;
  background: var(--thm-bg-ling-green);
  transition: all .3s ease-out 0s
}

.sidebar-item .blog-tags ul li:hover {
  background: var(--thm-teal)
}

.sidebar-item .blog-tags ul li:hover a {
  color: var(--thm-white)
}

.sidebar-item .blog-tags ul li a {
  color: var(--thm-black)
}

.blog-sidebar-search form {
  padding: 11px 20px;
  border-radius: 10px;
  border: 1px solid rgba(56, 56, 56, .1);
  display: flex;
  align-items: center;
  justify-content: center
}

.blog-sidebar-search form button,
.blog-sidebar-search form input {
  background: transparent;
  border: none
}

.blog-sidebar-search form button::placeholder,
.blog-sidebar-search form input::placeholder {
  color: rgba(56, 56, 56, .6)
}

.blog-sidebar-search form input {
  width: 100%
}

.team-fbio-sec .member-fbio-img {
  border-radius: 200px 0;
  overflow: hidden
}

.team-fbio-sec .member-fbio-img img {
  width: 100%
}

.team-fbio-sec .member-fbio {
  margin-left: 76px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.team-fbio-sec .member-fbio .sec-title {
  padding-bottom: 0 !important
}

.team-fbio-sec .member-fbio .member-title {
  font-size: 26px;
  line-height: 42px;
  margin-bottom: 18px
}

.team-fbio-sec .member-fbio .member-social {
  display: flex;
  align-items: center;
  margin-top: 30px
}

.team-fbio-sec .member-fbio .member-social h6 {
  font-size: 18px;
  margin-right: 14px
}

.team-fbio-sec .member-fbio .member-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  background: var(--thm-bg-ling-green);
  margin-right: 12px;
  border-radius: 50%;
  color: var(--thm-black);
  font-size: 16px
}

.team-fbio-sec .member-fbio .member-social a:last-child {
  margin-right: 0
}

.team-fbio-sec .member-fbio .member-social a:hover {
  background: var(--thm-teal);
  color: var(--thm-white)
}

.team-fbio-sec .member-fbio .sec-btn {
  margin-top: 30px
}

.team-fbio-sec .member-experience h2.sec-title {
  margin-top: -14px
}

.team-fbio-sec .team-fbio-hr {
  border-color: rgba(56, 56, 56, .12);
  margin: 60px 0 80px
}

.team-fbio-sec .progressbar-tooltip {
  margin-left: 76px
}

.error-sec .error-content button {
  margin-top: 60px
}

form.itco-cform .contact-field {
  margin-bottom: 20px
}

form.itco-cform .contact-field input,
form.itco-cform .contact-field textarea {
  font-family: var(--thm-body-font);
  font-size: var(--thm-body-font-size);
  line-height: 30px;
  color: var(--thm-black);
  width: 100%;
  padding: 12px 22px;
  border-radius: 10px;
  border: 1px solid rgba(56, 56, 56, .12)
}

form.itco-cform .contact-field input::placeholder,
form.itco-cform .contact-field textarea::placeholder {
  color: rgba(56, 56, 56, .5)
}

form.itco-sform .contact-field {
  margin-bottom: 18px
}

form.itco-sform .contact-field input,
form.itco-sform .contact-field textarea {
  padding: 10px 20px
}

.contact-page-sec .sec-content {
  justify-content: start
}

.contact-page-sec .sec-content form {
  margin-top: 10px
}

.contact-page-sec .get-in-touch .qinfo-item {
  display: flex;
  margin-bottom: 24px
}

.contact-page-sec .get-in-touch .qinfo-item .qinfo-icon i {
  background: var(--thm-bg-ling-green);
  color: var(--thm-teal);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 20px
}

.contact-page-sec .get-in-touch .qinfo-item .qinfo-box {
  margin-left: 18px
}

.contact-page-sec .get-in-touch .qinfo-item .qinfo-box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 4px
}

.contact-page-sec .get-in-touch .qinfo-item .qinfo-box a {
  color: var(--thm-black)
}

.contact-page-sec .get-in-touch .qinfo-item .qinfo-box a:hover {
  color: var(--thm-teal)
}

.contact-page-sec .company-social {
  margin-top: 40px;
  gap: 18px
}

.contact-page-sec .company-social a {
  font-size: 20px;
  height: 60px;
  width: 60px;
  border-radius: 6px;
  background: var(--thm-bg-ling-green);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--thm-black)
}

.contact-page-sec .company-social a:hover {
  background: var(--thm-teal);
  color: var(--thm-white)
}

.contact-map-sec {
  overflow: hidden
}