<style>
    .footer-sec {
  background: url(../media/footer.d3ce18c6.png) 50%/cover
}

.footer-sec .footer-hr {
  margin-bottom: 0;
  margin-top: 40px;
  border: 1px solid hsla(0, 0%, 100%, .6)
}

.footer-widget.pages-links {
  margin-left: -40px
}

.footer-widget {
  color: var(--thm-white);
  margin-bottom: 40px
}

.footer-widget .footer-widget-logo {
  margin-bottom: 30px
}

.footer-widget h4.footer-widget-title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 42px;
  color: var(--thm-white)
}

.footer-widget .footer-widget-content .footer-social-icon {
  margin-top: 30px
}

.footer-widget .footer-widget-content .footer-social-icon a {
  height: 42px;
  width: 42px;
  border: 1px solid var(--thm-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  color: var(--thm-white);
  transition: all .1s linear
}

.footer-widget .footer-widget-content .footer-social-icon a:hover {
  background: var(--thm-white);
  color: var(--thm-green)
}

.footer-widget .footer-widget-content .footer-social-icon a:last-child {
  margin-right: 0
}

.footer-widget .footer-widget-content .footer-links ul li {
  margin-bottom: 12px
}

.footer-widget .footer-widget-content .footer-links ul li a {
  color: var(--thm-white);
  transition: all .2s linear
}

.footer-widget .footer-widget-content .footer-links ul li a:hover {
  color: #0fc482
}

.footer-widget .footer-widget-content .footer-links ul li:last-child {
  margin-bottom: 0
}

.footer-recent-post .blog-sidebar-box-item {
  margin-bottom: 20px;
  padding-bottom: 0;
  border-bottom: 0
}

.footer-recent-post .blog-sidebar-box-item:last-child {
  margin-bottom: 0
}

.footer-recent-post .blog-sidebar-box-item .content-box {
  margin-left: 15px
}

.footer-recent-post .blog-sidebar-box-item .content-box .meta-box ul.meta-info {
  margin-bottom: 2px
}

.footer-recent-post .blog-sidebar-box-item .content-box .meta-box ul.meta-info li {
  margin-right: 0
}

.footer-recent-post .blog-sidebar-box-item .content-box .meta-box ul.meta-info li span a {
  color: var(--thm-white)
}

.footer-recent-post .blog-sidebar-box-item .content-box .title-box h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--thm-white)
}

.footer-copyright-text p {
  color: var(--thm-white);
  padding: 30px 0
}

.footer-copyright-text p a {
  font-weight: 500;
  color: #0fc482
}

.footer2 .section-overlay {
  padding-top: 208px
}

.newslatter-style2 {
  background: var(--thm-teal);
  border-radius: 10px;
  padding: 38px 50px;
  overflow: hidden;
  margin-bottom: -68px
}

.newslatter-style2 .newslatter-text {
  font-size: 30px;
  color: var(--thm-white)
}

.newslatter-style2 .Subscribe-form {
  position: relative
}

.newslatter-style2 .Subscribe-form input.form-control {
  width: 100%;
  padding: 17px 20px;
  line-height: 30px;
  border-radius: 10px
}

.newslatter-style2 .Subscribe-form button.thm-btn {
  position: absolute;
  background: var(--thm-teal);
  margin-top: 4px;
  right: 5px;
  padding-left: 40px;
  padding-right: 40px
}

.newslatter-style2 .Subscribe-form button.thm-btn:hover {
  color: var(--thm-white)
}

.service-details-wrapper .feature-img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px
}

.service-details-wrapper .feature-img img {
  width: 100%
}

.service-details-content .info-part {
  margin-bottom: 50px
}

.service-details-content .info-part h4 {
  font-size: 30px;
  margin-bottom: 16px
}

.service-details-content .info-part .info-part-img {
  border-radius: 10px;
  overflow: hidden
}

.service-details-content .info-part .info-part-img img {
  width: 100%
}

.service-details-content .info-part ul.info-list li {
  position: relative;
  margin-bottom: 14px;
  padding-left: 28px
}

.service-details-content .info-part ul.info-list li:last-child {
  margin-bottom: 0
}

.service-details-content .info-part ul.info-list li:before {
  content: "";
  background: url(../media/sli.877603b4.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: 18px;
  top: 6px;
  left: 0
}

.sidebar-item {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(56, 56, 56, .12);
  margin-bottom: 40px
}

.sidebar-item h4.stitle {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 20px
}

.sidebar-item ul.cat-list li {
  margin-bottom: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(56, 56, 56, .12);
  background: var(--thm-white)
}

.sidebar-item ul.cat-list li a {
  position: relative;
  color: var(--thm-black);
  display: block;
  transition: all .3s linear
}

.sidebar-item ul.cat-list li a i {
  position: relative;
  float: right;
  font-size: 24px;
  margin-top: 3px;
  transition: all .3s linear
}

.sidebar-item ul.cat-list li a:hover {
  color: var(--thm-teal);
  margin-left: 20px
}

.sidebar-item ul.cat-list li a:hover i {
  animation: GoFB .5s 1
}

.sidebar-item ul.cat-list li:last-child {
  margin-bottom: 0
}

.sidebar-item .download-brochures {
  display: flex
}

.sidebar-item .download-brochures .brochur-icon i {
  font-size: 50px;
  color: var(--thm-teal)
}

.sidebar-item .download-brochures .brochur-text {
  margin-left: 14px
}

.sidebar-item .download-brochures .brochur-text p {
  margin-bottom: 8px;
  margin-top: -6px
}

.sidebar-item .qinfo-item {
  display: flex;
  margin-bottom: 20px
}

.sidebar-item .qinfo-item .qinfo-icon i {
  background: var(--thm-bg-ling-green);
  color: var(--thm-teal);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%
}

.sidebar-item .qinfo-item .qinfo-box {
  margin-left: 14px
}

.sidebar-item .qinfo-item .qinfo-box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 4px
}

.sidebar-item .qinfo-item .qinfo-box a {
  color: var(--thm-black);
  display: block
}

.sidebar-item .qinfo-item .qinfo-box a:hover {
  color: var(--thm-teal)
}

.sidebar-item .blog-tags ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 15px
}

.sidebar-item .blog-tags ul li {
  padding: 10px 12px;
  border-radius: 6px;
  background: var(--thm-bg-ling-green);
  transition: all .3s ease-out 0s
}

.sidebar-item .blog-tags ul li:hover {
  background: var(--thm-teal)
}

.sidebar-item .blog-tags ul li:hover a {
  color: var(--thm-white)
}

.sidebar-item .blog-tags ul li a {
  color: var(--thm-black)
}

.blog-sidebar-search form {
  padding: 11px 20px;
  border-radius: 10px;
  border: 1px solid rgba(56, 56, 56, .1);
  display: flex;
  align-items: center;
  justify-content: center
}

.blog-sidebar-search form button,
.blog-sidebar-search form input {
  background: transparent;
  border: none
}

.blog-sidebar-search form button::placeholder,
.blog-sidebar-search form input::placeholder {
  color: rgba(56, 56, 56, .6)
}

.blog-sidebar-search form input {
  width: 100%
}

.team-fbio-sec .member-fbio-img {
  border-radius: 200px 0;
  overflow: hidden
}

.team-fbio-sec .member-fbio-img img {
  width: 100%
}

.team-fbio-sec .member-fbio {
  margin-left: 76px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.team-fbio-sec .member-fbio .sec-title {
  padding-bottom: 0 !important
}

.team-fbio-sec .member-fbio .member-title {
  font-size: 26px;
  line-height: 42px;
  margin-bottom: 18px
}

.team-fbio-sec .member-fbio .member-social {
  display: flex;
  align-items: center;
  margin-top: 30px
}

.team-fbio-sec .member-fbio .member-social h6 {
  font-size: 18px;
  margin-right: 14px
}

.team-fbio-sec .member-fbio .member-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  background: var(--thm-bg-ling-green);
  margin-right: 12px;
  border-radius: 50%;
  color: var(--thm-black);
  font-size: 16px
}

.team-fbio-sec .member-fbio .member-social a:last-child {
  margin-right: 0
}

.team-fbio-sec .member-fbio .member-social a:hover {
  background: var(--thm-teal);
  color: var(--thm-white)
}

.team-fbio-sec .member-fbio .sec-btn {
  margin-top: 30px
}

.team-fbio-sec .member-experience h2.sec-title {
  margin-top: -14px
}

.team-fbio-sec .team-fbio-hr {
  border-color: rgba(56, 56, 56, .12);
  margin: 60px 0 80px
}

.team-fbio-sec .progressbar-tooltip {
  margin-left: 76px
}

.error-sec .error-content button {
  margin-top: 60px
}

form.itco-cform .contact-field {
  margin-bottom: 20px
}

form.itco-cform .contact-field input,
form.itco-cform .contact-field textarea {
  font-family: var(--thm-body-font);
  font-size: var(--thm-body-font-size);
  line-height: 30px;
  color: var(--thm-black);
  width: 100%;
  padding: 12px 22px;
  border-radius: 10px;
  border: 1px solid rgba(56, 56, 56, .12)
}

form.itco-cform .contact-field input::placeholder,
form.itco-cform .contact-field textarea::placeholder {
  color: rgba(56, 56, 56, .5)
}

form.itco-sform .contact-field {
  margin-bottom: 18px
}

form.itco-sform .contact-field input,
form.itco-sform .contact-field textarea {
  padding: 10px 20px
}

.contact-page-sec .sec-content {
  justify-content: start
}

.contact-page-sec .sec-content form {
  margin-top: 10px
}

.contact-page-sec .get-in-touch .qinfo-item {
  display: flex;
  margin-bottom: 24px
}

.contact-page-sec .get-in-touch .qinfo-item .qinfo-icon i {
  background: var(--thm-bg-ling-green);
  color: var(--thm-teal);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 20px
}

.contact-page-sec .get-in-touch .qinfo-item .qinfo-box {
  margin-left: 18px
}

.contact-page-sec .get-in-touch .qinfo-item .qinfo-box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 4px
}

.contact-page-sec .get-in-touch .qinfo-item .qinfo-box a {
  color: var(--thm-black)
}

.contact-page-sec .get-in-touch .qinfo-item .qinfo-box a:hover {
  color: var(--thm-teal)
}

.contact-page-sec .company-social {
  margin-top: 40px;
  gap: 18px
}

.contact-page-sec .company-social a {
  font-size: 20px;
  height: 60px;
  width: 60px;
  border-radius: 6px;
  background: var(--thm-bg-ling-green);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--thm-black)
}

.contact-page-sec .company-social a:hover {
  background: var(--thm-teal);
  color: var(--thm-white)
}

.contact-map-sec {
  overflow: hidden
}
</style>
<footer class="footer-sec">
    <div class="section-overlay sec-pt">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xl-3">
            <div class="footer-widget">
              <div class="footer-widget-logo">
                <a href="index.html"
                  ><img
                    alt="site-logo"
                    loading="lazy"
                    width="104"
                    height="40"
                    decoding="async"
                    data-nimg="1"
                    style="color: transparent"
                    srcset="
                      /_next/image?url=%2Fassets%2Fimages%2Flogo%2Flogo1.png&amp;w=128&amp;q=75 1x,
                      /_next/image?url=%2Fassets%2Fimages%2Flogo%2Flogo1.png&amp;w=256&amp;q=75 2x
                    "
                    src="_next/logo174ba.png?url=%2Fassets%2Fimages%2Flogo%2Flogo1.png&amp;w=256&amp;q=75"
                /></a>
              </div>
              <div class="footer-widget-content">
                <p class="ft-text">
                  Mauris ut enim sit amet lacus ornare ullamcor. Praesent
                  placerat nequ puru rhoncu tincidunt odio ultrices. Sed
                  odio feugiat feugiat felis.
                </p>
                <div class="footer-social">
                  <div class="footer-social-icon d-flex">
                    <a target="_blank" href="https://www.facebook.com/"
                      ><i class="fa-brands fa-facebook-f"></i></a
                    ><a target="_blank" href="https://www.linkedin.com/"
                      ><i class="fa-brands fa-linkedin-in"></i></a
                    ><a target="_blank" href="https://twitter.com/"
                      ><i class="fa-brands fa-twitter"></i></a
                    ><a target="_blank" href="https://www.instagram.com/"
                      ><i class="fa-brands fa-instagram"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 offset-xl-1 col-xl-2">
            <div class="footer-widget">
              <h4 class="footer-widget-title tx-white">Our Services</h4>
              <div class="footer-widget-content">
                <div class="footer-links">
                  <ul>
                    <li>
                      <a href="service-details.html">Tech Solutions</a>
                    </li>
                    <li>
                      <a href="service-details.html"> Digital Marketing</a>
                    </li>
                    <li>
                      <a href="service-details.html">Web Development</a>
                    </li>
                    <li>
                      <a href="service-details.html">IT Consulting</a>
                    </li>
                    <li>
                      <a href="service-details.html">Data Analytics</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 offset-xl-1 col-xl-2">
            <div class="footer-widget pages-links">
              <h4 class="footer-widget-title tx-white">Useful Links</h4>
              <div class="footer-widget-content">
                <div class="footer-links">
                  <ul>
                    <li><a href="about.html">What We Do</a></li>
                    <li><a href="team.html">Our Team</a></li>
                    <li><a href="404-2">Our Projects</a></li>
                    <li><a href="404-3">Faq ask</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="footer-widget">
              <h4 class="footer-widget-title tx-white">Recent Post</h4>
              <div class="footer-widget-content">
                <div class="footer-recent-post">
                  <ul>
                    <li class="blog-sidebar-box-item blog-item d-flex">
                      <div class="img-box">
                        <img
                          alt="blog"
                          loading="lazy"
                          width="109"
                          height="93"
                          decoding="async"
                          data-nimg="1"
                          class="h-100"
                          style="color: transparent"
                          srcset="
                            /_next/image?url=%2Fassets%2Fimages%2Fblog%2Frecent1.png&amp;w=128&amp;q=75 1x,
                            /_next/image?url=%2Fassets%2Fimages%2Fblog%2Frecent1.png&amp;w=256&amp;q=75 2x
                          "
                          src="_next/recent1a705.png?url=%2Fassets%2Fimages%2Fblog%2Frecent1.png&amp;w=256&amp;q=75"
                        />
                      </div>
                      <div class="content-box">
                        <div class="meta-box">
                          <ul class="meta-info">
                            <li>
                              <div class="icon">
                                <i class="flaticon-calendar"></i>
                              </div>
                              <span
                                ><a href="index.html">Dec 27, 2023</a></span
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="title-box">
                          <h3>
                            <a href="index.html"
                              >Efficiency redefined through technology.</a
                            >
                          </h3>
                        </div>
                      </div>
                    </li>
                    <li class="blog-sidebar-box-item blog-item d-flex">
                      <div class="img-box">
                        <img
                          alt="blog"
                          loading="lazy"
                          width="109"
                          height="93"
                          decoding="async"
                          data-nimg="1"
                          class="h-100"
                          style="color: transparent"
                          srcset="
                            /_next/image?url=%2Fassets%2Fimages%2Fblog%2Frecent2.png&amp;w=128&amp;q=75 1x,
                            /_next/image?url=%2Fassets%2Fimages%2Fblog%2Frecent2.png&amp;w=256&amp;q=75 2x
                          "
                          src="_next/recent2a0c7.png?url=%2Fassets%2Fimages%2Fblog%2Frecent2.png&amp;w=256&amp;q=75"
                        />
                      </div>
                      <div class="content-box">
                        <div class="meta-box">
                          <ul class="meta-info">
                            <li>
                              <div class="icon">
                                <i class="flaticon-calendar"></i>
                              </div>
                              <span
                                ><a href="index.html">Dec 27, 2023</a></span
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="title-box">
                          <h3>
                            <a href="index.html"
                              >IT Solution for your Company.</a
                            >
                          </h3>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sx-12 p-0"><hr class="footer-hr" /></div>
        </div>
      </div>
      <div class="container">
        <div class="row footer-copyright">
          <div class="col">
            <div class="footer-copyright-text text-center">
              <p class="mb-0">Copyright 2022 © TDC</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>